@import url("footer.css");
@import url("navbar.css");


/* Main */
body {
    background: linear-gradient(rgba(7, 7, 7, 0.897), rgb(31, 30, 30)) ;
    color: whitesmoke;
    text-align: center;
    padding-top: 70px;
    font-family: 'PT Serif', serif;
}

#home {
    font-size: 6rem;
    padding: 20px;
    background-image: url("../images/landingPageHero.jpeg");
    background-size: cover;
    text-align: center;
}


/* Sections */
.section {
    margin: 15vh;
}

.section h2 {
    font-size: 1.5rem;
    text-decoration: underline;
}


/* Dynamic Features */
.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.hide {
    display: none;
}


/* Small screens */
@media(max-width: 800px) {
    #home {
        font-size: 3rem;
    }

    .section {
        margin: 5vh;
        font-size: 0.9rem;
    }

    #navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        position: fixed;
        width: 100%;
        height: auto;
    }

    .nav-link {
        font-size: 1rem;
        margin: 10px;
    }
}

